name: CD

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install Databricks CLI
      run: |
        python -m pip install --upgrade pip
        pip install databricks-cli jq

    - name: Configure Databricks CLI
      run: |
        mkdir -p ~/.databricks
        cat <<EOF > ~/.databricks/config
        [DEFAULT]
        host = ${{ secrets.DATABRICKS_HOST }}
        token = ${{ secrets.DATABRICKS_TOKEN }}
        EOF

    - name: Deploy notebooks and libs to Databricks
      run: |
        databricks workspace import_dir notebooks /Projects/versaCodigoNotebookAzure/notebooks --overwrite
        databricks workspace import_dir libs /Projects/versaCodigoNotebookAzure/libs --overwrite

    - name: Deploy cluster
      run: |
        CLUSTER_NAME=$(jq -r '.cluster_name' databricks/config/cluster_template.json)
        CLUSTER_ID=$(databricks clusters list --output JSON | jq -r ".clusters[] | select(.cluster_name==\"$CLUSTER_NAME\") | .cluster_id")

        if [ -z "$CLUSTER_ID" ]; then
          echo "Cluster não existe, criando..."
          databricks clusters create --json-file databricks/config/cluster_template.json
        else
          echo "Cluster já existe (ID: $CLUSTER_ID). Nenhuma atualização automática aplicada."
        fi

    - name: Deploy job pipeline
      run: |
        JOB_NAME="job-pipeline-versaCodigo"
        JOB_ID=$(databricks jobs list --output JSON | jq -r ".jobs[] | select(.settings.name==\"$JOB_NAME\") | .job_id")

        if [ -z "$JOB_ID" ]; then
          echo "Job não existe, criando..."
          databricks jobs create --json-file jobs/job_pipeline.json
        else
          echo "Job já existe (ID: $JOB_ID). Atualização manual recomendada."
        fi
