name: CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install deps
      run: pip install flake8 pytest
    - name: Lint
      run: flake8 libs/
    - name: Test
      run: pytest tests/
